 <!doctype html>
<html lang="ES">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<title>ROMA Project</title>
		<style type="text/css">
		
		</style>
		<link rel="stylesheet" type="text/css" href="js/bower_components/angular-material/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<link rel="stylesheet" type="text/css" href="js/bower_components/leaflet/dist/leaflet.css">
		<link rel="stylesheet" type="text/css" href="js/bower_components/angular-chart.js/dist/angular-chart.css">
	</head>
	<body ng-app="romaApp" ng-cloak ng-controller="mainController">
		<section layout="column">
			
				<!-- <nav class="md-whiteframe-2dp" layout="row" layout-align="center center">
					
					<div flex="90">
						<div layout="row" class="md-toolbar-tools">
							<div layuot="row" flex="20">
								<img style="max-width: 106px;" src="img/logo-main.svg">
							</div>
							
							<div layout="row" flex="80" layout-align="start center">
								<div flex="15" layout="row" layout-wrap layout-align="center center" style="padding:1em 0em;color:white">
									<div flex="100" layout="row" layout-align="center center"><label><b>Gráfica</b></label></div>
									
								</div>
								<div flex="15" layout="row" layout-wrap layout-align="center center" style="padding:1em 0em;color:white">
									<div flex="100" layout="row" layout-align="center center"><label><b>Mapas</b></label></div>
									
								</div>
								<div flex="15" layout="row" layout-wrap layout-align="center center" style="padding:1em 0em;color:white">
									<div flex="100" layout="row" layout-align="center center"><label><b>G. Barras</b></label></div>
									
								</div>
								<div flex="15" layout="row" layout-wrap layout-align="center center" style="padding:1em 0em;color:white">
									<div flex="100" layout="row" layout-align="center center"><label><b>Tabla</b></label></div>
									
								</div>
							</div> 
							<div layout="row" flex="30">
								<div flex layout="row" layout-align="end center">
									<div>
										<md-icon md-svg-src="img/icons/ic_info_outline_black_24px.svg"></md-icon>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</nav> -->

				<section layout="row" class="md-whiteframe-1dp"  layout-align="center center" style="position:fixed; width: 100%; z-index:1030; 
    background: #FBFBFB; height:80px;">
					<div flex="90" layout="row" layout-wrap layout-align="space-between center" class="indicador-seleccionado">
						<div flex><img style="max-width: 128px;" src="img/logo-main.svg"></div>
						<div flex="60" layout="row" layout-align="space-between">
							<div flex="30" layout="row" layout-wrap layout-align="end center">
								<div flex="100" class="mod-input" layout="row">
									<div flex="90"><angucomplete-alt id="objetivo"
                                        placeholder="ODS"
                                        pause="100"
                                        selected-object="roma.current_selection.objetivo"
                                        local-data="roma.data.lista_objetivos"
                                        search-fields="nombre"
                                        title-field="nombre"
                                        minlength="1"
                                        input-class="form-control form-control-small"/>
                                    </div>
									<div flex ng-click="limpiar_input('objetivo')"><md-icon md-svg-src="img/icons/ic_close_black_24px.svg"></md-icon></div>
								</div>
							</div>
							<div flex="33" layout="row" layout-wrap layout-align="start center">
								<div flex="100" class="mod-input" layout="row">
									<!--<div flex="90"><input type="text" placeholder="MUNICIPIO"></div>-->
                                    <div flex="90"><angucomplete-alt id="municipio"
                                        placeholder="MUNICIPIO"
                                        pause="100"
                                        selected-object="roma.current_selection.municipio"
                                        local-data="roma.data.lista_municipios"
                                        search-fields="nombre"
                                        title-field="nombre"
                                        minlength="1"
                                        input-class="form-control form-control-small"/></angucomplete-alt>
                                    </div>
									<div flex ng-click="limpiar_input('municipio')"><md-icon md-svg-src="img/icons/ic_close_black_24px.svg"></md-icon></div>
								</div>
							</div>
							<div flex="33" layout="row" layout-wrap layout-align="center center">
								<div flex="100" class="mod-input" layout="row" layout-align="start center">
									<div flex="100"><angucomplete-alt id="indicador"
                                        placeholder="INDICADOR"
                                        pause="100"
                                        selected-object="roma.current_selection.indicador"
                                        local-data="roma.data.lista_indicadores"
                                        search-fields="nombre"
                                        title-field="nombre"
                                        minlength="1"
                                        input-class="form-control form-control-small"/></angucomplete-alt>
                                    </div>
									<div flex ng-click="limpiar_input('indicador')"><md-icon md-svg-src="img/icons/ic_close_black_24px.svg"></md-icon></div>
								</div>
							</div>
						</div>
						<div flex="15" layout="row" layout-align="end center"><img style="max-width: 118px;opacity:0.8" src="img/Logo-Gobernacion.png"></div>
					</div>

				</section>
			



				<md-content layout="row" layout-align="center center" md-scroll-y>
					<!-- RELACIÓN INDICADORES CON ODS (GRÁFICA) -->
					<section flex layout="column">
						<section layout="row"  style="background:white; border-bottom:1px solid #e5e5e5;">
							<div flex="5"></div>
							<div flex="90" layout="row" layout-align="space-between center" layout-wrap>
								<div flex="100" style="height:129px;"></div>
								<div flex="100" layout="row" layout-align="space-around center" style=" height:83vh;">
									<div flex="30" layout="row" layout-align="start center" layout-wrap>

										<!-- <div flex="100" layout="row" layout-wrap layout-align="space-between center" class="indicador-seleccionado">
											<div flex="100" style="padding:1em 0em;"><label><b>FILTROS DE INFORMACIÓN</b></label></div>
											<div flex="50" layout="row" layout-wrap layout-align="start center">
												<div flex="95" class="mod-input" layout="row"> -->
													<!--<div flex="90"><input type="text" placeholder="MUNICIPIO"></div>-->
		                                           <!--  <div flex="90"><angucomplete-alt id="municipio"
		                                                placeholder="MUNICIPIO"
		                                                pause="100"
		                                                selected-object="roma.current_selection.municipio"
		                                                local-data="roma.data.lista_municipios"
		                                                search-fields="nombre"
		                                                title-field="nombre"
		                                                minlength="1"
		                                                input-class="form-control form-control-small"/>
		                                            </div>
													<div flex ng-click="limpiar_input('municipio')"><md-icon md-svg-src="img/icons/ic_close_black_24px.svg"></md-icon></div>
												</div>
											</div>
											<div flex="50" layout="row" layout-wrap layout-align="end center">
												<div flex="95" class="mod-input" layout="row">
													<div flex="90"><angucomplete-alt id="objetivo"
		                                                placeholder="ODS"
		                                                pause="100"
		                                                selected-object="roma.current_selection.objetivo"
		                                                local-data="roma.data.lista_objetivos"
		                                                search-fields="nombre"
		                                                title-field="nombre"
		                                                minlength="1"
		                                                input-class="form-control form-control-small"/>
		                                            </div>
													<div flex ng-click="limpiar_input('objetivo')"><md-icon md-svg-src="img/icons/ic_close_black_24px.svg"></md-icon></div>
												</div>
											</div>
											<div flex="100" layout="row" layout-wrap layout-align="center center">
												<div flex="100" class="mod-input" layout="row" layout-align="start center">
													<div flex="100"><input type="text" placeholder="INDICADOR"></div>
													<div flex><md-icon md-svg-src="img/icons/ic_close_black_24px.svg"></md-icon></div>
												</div>
											</div>
										</div> -->

										

										<div flex="100" layout="row" layout-align="space-between center" layout-wrap class="indicador-seleccionado" style="margin-top:0.1em;border-radius:3px;padding:0px;">
											<label flex="100" style="padding:1em 0em;    font-size: 33px;letter-spacing: -1px;line-height: 37px;"><b>RELACIÓN iNDICADORES Y ODS'S</b></label>
											<div flex="15" class="item" layout="row" layout-align="start center" ng-repeat="(key, value) in roma.data.dict_objetivos">
											 	<div class="pic" ng-class="{'pic-active':value.id-1===roma.current_selection.obj, 'pic-marcado': false, }" ng-click="roma.current_selection.obj=value.id-1">
											 		<img src="img/ods_icons/S_SDG_Icons-01-{{value.id}}.jpg">
											 		<span class="pic-caption top-to-bottom">
												        <p class="pic-title"><b>{{value.id}}</b></p>
												    </span>
											 	</div>
											</div>
											<div flex="15" class="item" layout="row" layout-align="start center">
												<div class="pic"></div>
											</div>
											
											
										</div>

										<div style="font-size:13px; padding:1em 0em;opacity:0.7;">
											Para ver la información de los indicadores selecciona uno de los cuadros de arriba o escribe en los filtros de la parte superior.
										</div>
										<!-- <div flex="100" class="indicador-seleccionado" style="border: 1px solid #e4e4e4;background: #fcfcfc;">
											<div layout="row" layout-align="space-between center" flex="100" class="inner-cont">
												<div flex="10" layout="row" layout-align="center center">
													<div class="cont-icon"><img src="img/ods_icons/S_SDG_Icons-01-4.jpg"></div>
												</div>
												<div flex="75">Fin de la pobreza <span style="opacity:0.6; font-size:12px;">Este modulo aparece para brindar al usuario un indicio visual más grande del indicador que selecciono.</span></div>
												<div flex="10">ico</div>
											</div>	
										</div> -->
									</div>
									<div flex="50" layout="row" layout-align="end center">
										<canvas  class="roma-dona" width="500" height="500" config="dona.config" data="dona.data" scan="roma.current_hover" selection="roma.current_selection"></canvas>
									</div>
							</div>
							</div>
							<div flex="5"></div>
						</section>
						<!-- MÓDULO DE TRES MAPAS (INVERSIÓN, INTERÉS Y INDICADOR) -->
						<section layout="row"  style="background:#F7F7F7;margin-top:3em;">
							<div flex="5"></div>
							<div flex="90" layout="row" layout-align="space-between center" layout-wrap>
								<div flex="100" layout="row" layout-align="space-between center">
									<div flex="33" layout="row" layout-align="start center" layout-wrap>
										<div flex="95" class="module-map">
											<div layout="row" layout-align="center center" class="title-mod-map interes-mod">
												<div class="icon-title color-icon-interes"><i class="icon-interes"></i></div>
												<div class="text-title">Interés ODS</div>
											</div>
											<div ng-show="roma.current_selection.obj !== false">
												<leaflet id="mapa_1" lf-center="mapas.center" geojson="roma.data.geojson" width="100%" height="550px"></leaflet>
											</div>
											<!-- Mensaje para el USER -->
											<div ng-show="roma.current_selection.obj === false" layout="row" layout-align="center center" style="height:550px;background:#eee;">
												<div class="msj">
													Selecciona un objetivo de desarrollo para ver<br> la información del mapa. 
												</div>
											</div>
										</div>
									</div>
									<div flex="33" layout="row" layout-align="start center" layout-wrap>
										<div flex="95" class="module-map">
											<div layout="row" layout-align="center center" class="title-mod-map inversion-mod">
												<div class="icon-title color-icon-inversion"><i class="icon-inversion"></i></div>
												<div class="text-title">Inversión ODS</div>
											</div>
											<!-- Mensaje para el USER -->
											<div ng-show="roma.current_selection.obj !== false">
												<leaflet id="mapa_2" lf-center="mapas.center" geojson="roma.data.geojson"  width="100%" height="550px"></leaflet>
											</div>
											<div ng-show="roma.current_selection.obj === false" layout="row" layout-align="center center" style="height:550px;background:#eee;">
												<div class="msj">
													Selecciona un objetivo de desarrollo para ver<br> la información del mapa. 
												</div>
											</div>
										</div>
									</div>
									<div flex="33" layout="column" class="module-map">
										<div layout="row" layout-align="center center" class="title-mod-map">
											<div class="icon-title"><i class="icon-inversion"></i></div> 
											<div class="text-title">Indicador</div>
										</div>
		                                <div ng-show="roma.current_selection.ind !== false">
											<leaflet id="mapa_3" lf-center="mapas.center" geojson="roma.data.geojson" width="100%" height="550px"></leaflet>
		                                </div>
		                                <div ng-show="roma.current_selection.ind === false" layout="row" layout-align="center center" style="height:550px;background:#eee;">
		                                    <div class="msj">
		                                        Selecciona un indicador para ver<br> la información del mapa. 
		                                    </div>
		                                </div>
									</div>
								</div>
							</div>
							<div flex="5"></div>
						</section>
						<!-- GRÁFICA DE BARRAS -->
						<section layout="row"  style="background:#F7F7F7;margin-top:1em;padding-bottom:1em;">
							<div flex="5"></div>
							<div flex="90" layout="row" layout-align="space-between center" layout-wrap>
								<div flex="100" layout="row" layout-align="space-between center" style="margin: 0.5em 0em;">
									<div flex="100" layout="column" class="module-map">
										<div layout="row" layout-align="center center" class="title-mod-map">
											<div layout="row" layout-align="center center" style="padding:0em 1em;">
												<div class="text-title">Interés e inversión sobre objetivos de desarrollo</div>
											</div>	
										</div>
										<div layout="row" layout-align="center center" ng-show="roma.current_selection.mun !== false">
											<canvas  id="bar" class="chart chart-bar" width="1000" height="330px;" chart-data="roma.data.municipio.grafica" chart-labels="labels" chart-series="series"></canvas>
										</div>
										<!-- Mensaje para el USER -->
										<div ng-show="roma.current_selection.mun === false" layout="row" layout-fill layout-align="center center" style="background:#eee;height:450px">
											<div class="msj">
												Selecciona un municipio para ver<br> el estado de todos los indicadores. 
											</div>
										</div>
									</div>
								</div>
							</div>
							<div flex="5"></div>
						</section>
						<!-- TABLA DE NIVELES REGISTRADOS -->
						<section layout="row" style="margin-bottom: 3em;">
							<div flex="5"></div>
							<div flex="90" layout="row" layout-align="space-between center" layout-wrap>
								<div flex="100" layout="row" layout-align="space-between center" >
								<div flex="100" layout="column" class="module-map" style=" height:auto;">
									<div layout="row" layout-align="center center" class="title-mod-map">
										<div layout="row" layout-align="center center" style="padding:0em 1em;">
											<div class="text-title">Tabla registros de indicadores</div>
										</div>	
									</div>
									<div ng-show="roma.current_selection.mun !== false">
										<div class="tabla" layout="row">
											<div class="sub-tabla" flex="50" layout="column" style="border-right:4px solid #eee;">
												<!-- Cabecera -->
												<div class="cabecera" layout="row" layout-align="center center">
													<div class="item-cabecera" flex="10">N°</div>
													<div class="item-cabecera" flex="60">Nombre indicador</div>
													<div class="item-cabecera" flex>Nivel registrado</div>
												</div>
												<!-- Fila -->
												<div class="mod-fila" layout="row" ng-repeat="(key, value) in roma.data.municipio.tabla" ng-if="key <= 26">
													<div class="item-fila" flex="10">{{value.id}}</div>
													<div class="item-fila" flex="60">{{value.nombre}}</div>
													<div class="item-fila" flex>{{value.valor}}</div>
												</div>
											</div>
											<div class="sub-tabla" flex="50" layout="column" style="border-right:4px solid #eee;">
												<!-- Cabecera -->
												<div class="cabecera" layout="row" layout-align="center center">
													<div class="item-cabecera" flex="10">N°</div>
													<div class="item-cabecera" flex="60">Nombre indicador</div>
													<div class="item-cabecera" flex>Nivel registrado</div>
												</div>
												<!-- Fila -->
												<div class="mod-fila" layout="row" ng-repeat="(key, value) in roma.data.municipio.tabla" ng-if="key > 26 && key <= 52">
													<div class="item-fila" flex="10">{{value.id}}</div>
													<div class="item-fila" flex="60">{{value.nombre}}</div>
													<div class="item-fila" flex>{{value.valor}}</div>
												</div>
											</div>
											<div class="sub-tabla" flex="50" layout="column">
												<!-- Cabecera -->
												<div class="cabecera" layout="row" layout-align="center center">
													<div class="item-cabecera" flex="10">N°</div>
													<div class="item-cabecera" flex="60">Nombre indicador</div>
													<div class="item-cabecera" flex>Nivel registrado</div>
												</div>
												<!-- Fila -->
												<div class="mod-fila" layout="row" ng-repeat="(key, value) in roma.data.municipio.tabla" ng-if="key > 52">
													<div class="item-fila" flex="10">{{value.id}}</div>
													<div class="item-fila" flex="60">{{value.nombre}}</div>
													<div class="item-fila" flex>{{value.valor}}</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Mensaje para el USER -->
									<div ng-show="roma.current_selection.mun === false" layout="row" layout-fill layout-align="center center" style="background:#eee;height:450px">
											<div class="msj">
												Selecciona un municipio para ver<br> sus niveles registrados frente a los indicadores. 
											</div>
									</div>
								</div>
							</div>
							</div>
							<div flex="5"></div>
						</section>
					</section>
				</md-content>
		</section>
		
		
		
		<script type="text/javascript" src="js/bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="js/bower_components/leaflet/dist/leaflet.js"></script>
		<script type="text/javascript" src="js/bower_components/ui-leaflet/dist/ui-leaflet.js"></script>
		<script type="text/javascript" src="js/bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
        <script type="text/javascript" src="js/bower_components/angucomplete-alt/dist/angucomplete-alt.min.js"></script>
		<!-- Dpendencias Angular Material -->
		<script type="text/javascript" src="js/bower_components/angular-animate/angular-animate.min.js"></script>
		<script type="text/javascript" src="js/bower_components/angular-aria/angular-aria.min.js"></script>
		<script type="text/javascript" src="js/bower_components/angular-material/angular-material.min.js"></script>
		<script type="text/javascript" src="js/bower_components/Chart.js/Chart.js"></script>
		<script type="text/javascript" src="js/bower_components/angular-chart.js/dist/angular-chart.js"></script>
		<script type="text/javascript" src="js/roma-app.js"></script>
		<script type="text/javascript" src="js/roma-dona.js"></script>
	</body>
</html>